.User {
	margin-left: 20px;
	margin-top: 20px;
	text-align: left;
	width: fit-content;
}
.UserMain {
	margin-left: 20px;
	width: fit-content;
}

.UserSideBar {
	background-color: black;
    width: fit-content;
    height: 30vh;
    position: sticky;
	top: 20px;
	margin-bottom: 100px;
}
.card-body {
	text-align: center;
}